.member-detail {
	.member {
		dt {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				border: 0;
		}
		dd:not(.image) {
			margin-left: 90px !important;
		}
		dd.bio {
			margin-top: -4.4rem;
		}
	}
}